In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import matplotlib.pyplot as plt
import mplleaflet
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import requests
import json
from pprint import pprint

Note the naming convention for dataframes read from txt files are prefixed with gt_ as in google_transit

## Bus Stops

In [58]:
gt_stops = pd.read_csv('google_transit/stops.txt', sep=",")
gt_stops = gt_stops.drop(['stop_code','stop_url', 'stop_desc', 'zone_id', 'stop_timezone', 'wheelchair_boarding'], axis=1)

# gt_stops['stop_id'] = gt_stops['stop_id'].astype('int64', errors='ignore')
# gt_stops['stop_id'] = pd.to_numeric(gt_stops['stop_id'], errors='coerce')
# gt_stops[gt_stops['stop_id'].apply(lambda x: x.astype('int64', errors='ignore'))]
gt_stops['stop_id'] = gt_stops[gt_stops['stop_id'].str.isnumeric()==True]

# Drop any values in stop_id col that do not look like numeric strings
gt_stops.dropna(subset=['stop_id'], inplace=True)

# Cast numeric strings to int64
gt_stops['stop_id'] = gt_stops['stop_id'].astype('int64')

gt_stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,20,Kennedy Rd S n/of First Gulf Blvd,43.673256,-79.718468,0,NaN
1,30,Kennedy Rd S at Steeles Ave E,43.675159,-79.721710,0,NaN
2,55,Rutherford Rd S n/of Steeles Ave E,43.681385,-79.718147,0,NaN
3,60,Rutherford Rd S/of Bramsteele Rd,43.681969,-79.718979,0,NaN
4,70,Rutherford Rd S n/of Bramsteele Rd,43.683807,-79.721458,0,NaN
...,...,...,...,...,...,...
2946,19090339,Mississauga Rd s/of Royal West Dr,43.662159,-79.822662,0,NaN
2947,19102800,Castlemore Rd e/of McVean Dr,43.782913,-79.700104,0,NaN
2948,20030200,Van Kirk Dr n/of Whitepoppy Dr,43.724243,-79.829727,0,NaN
2949,20030201,Van Kirk Dr n/of Bramtrail Gate,43.720882,-79.824982,0,NaN
2950,20030202,Father Tobin Rd e/of Fairservice Dr,43.758266,-79.770454,0,NaN

In [4]:
# gt_routes.loc[gt_routes['route_type'] == 3]
# gt_routes['route_long_name'].unique()

## Bus Routes

In [5]:
gt_routes = pd.read_csv('google_transit/routes.txt', sep=",")
gt_routes = gt_routes.drop(['route_url','route_desc','route_type'], axis=1) 
gt_routes

   route_id  route_short_name route_long_name
0     1-274                 1           Queen
1     2-274                 2            Main
2     3-274                 3      McLaughlin
3     4-274                 4    Chinguacousy
4     5-274                 5         Bovaird
..      ...               ...             ...
68  501-274               501       Zum Queen
69  502-274               502        Zum Main
70  505-274               505     Zum Bovaird
71  511-274               511     Zum Steeles
72  561-274               561  Zum Queen West

[73 rows x 3 columns]

## Calendar & Stop Times & Trips

In [6]:
gt_calendar = pd.read_csv('google_transit/calendar.txt', sep=",")
gt_calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,200302-MULTI-Weekday-01,1,1,1,1,1,0,0,20200302,20200424
1,200302-MULTI-Weekday-01-0001000,0,0,0,1,0,0,0,20200302,20200424
2,200302-MULTI-Weekday-01-0010000,0,0,1,0,0,0,0,20200302,20200424
3,200302-MULTI-Weekday-01-1000000,1,0,0,0,0,0,0,20200302,20200424
4,200302-MULTI-Saturday-01,0,0,0,0,0,1,0,20200307,20200425
5,200302-MULTI-Sunday-01,0,0,0,0,0,0,1,20200308,20200426
6,200302-MULTI-Holiday1-01,1,1,1,1,1,1,1,20200410,20200410

In [7]:
gt_stop_times = pd.read_csv('google_transit/stop_times.txt', sep=",")
gt_stop_times = gt_stop_times.drop(['timepoint', 'drop_off_type', 'pickup_type'], axis=1)
gt_stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence
0,10445576-200302-MULTI-Weekday-01,05:10:00,05:10:00,45565,1
1,10445576-200302-MULTI-Weekday-01,05:12:00,05:12:00,5260,2
2,10445576-200302-MULTI-Weekday-01,05:13:00,05:13:00,5270,3
3,10445576-200302-MULTI-Weekday-01,05:14:00,05:14:00,5280,4
4,10445576-200302-MULTI-Weekday-01,05:14:00,05:14:00,5290,5
...,...,...,...,...,...
486660,10528257-200302-MULTI-Holiday1-01,16:01:00,16:01:00,51112,18
486661,10528257-200302-MULTI-Holiday1-01,16:03:00,16:03:00,51114,19
486662,10528257-200302-MULTI-Holiday1-01,16:05:00,16:05:00,51116,20
486663,10528257-200302-MULTI-Holiday1-01,16:08:00,16:08:00,18030502,21
486664,10528257-200302-MULTI-Holiday1-01,16:14:00,16:14:00,15090802,22

In [8]:
gt_trips = pd.read_csv('google_transit/trips.txt', sep=",")
gt_trips = gt_trips.drop(['wheelchair_accessible', 'bikes_allowed'], axis=1)
gt_trips

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,17-274,200302-MULTI-Weekday-01,10445576-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710327,170018
1,17-274,200302-MULTI-Weekday-01,10445577-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710328,170018
2,17-274,200302-MULTI-Weekday-01,10445578-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710327,170018
3,17-274,200302-MULTI-Weekday-01,10445579-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710328,170018
4,17-274,200302-MULTI-Weekday-01,10445580-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710327,170018
...,...,...,...,...,...,...,...
12723,11-274,200302-MULTI-Holiday1-01,10528241-200302-MULTI-Holiday1-01,11 STEELES WESTBOUND,1,712237,110073
12724,511-274,200302-MULTI-Holiday1-01,10528254-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712242,5110017
12725,511-274,200302-MULTI-Holiday1-01,10528255-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712239,5110017
12726,511-274,200302-MULTI-Holiday1-01,10528256-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712240,5110017
12727,511-274,200302-MULTI-Holiday1-01,10528257-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712241,5110017

In [121]:
stops_per_routes = pd.merge(gt_trips[['route_id', 'trip_id', 'direction_id']], gt_stop_times[['trip_id', 'stop_id', 'stop_sequence']], how='inner')

stops_per_routes = pd.merge(stops_per_routes, gt_stops[['stop_id', 'stop_name']], how='left')
stops_per_routes.drop_duplicates(subset='stop_id',inplace=True)
stops_per_routes

,route_id,trip_id,direction_id,stop_id,stop_sequence,stop_name
0,17-274,10445576-200302-MULTI-Weekday-01,0,45565,1,Bramalea Terminal Route 9 EB/17/207 Stop
1,17-274,10445576-200302-MULTI-Weekday-01,0,5260,2,Hanover Rd w/of Hartnell Sq
2,17-274,10445576-200302-MULTI-Weekday-01,0,5270,3,Hanover Rd at Helena Crt
3,17-274,10445576-200302-MULTI-Weekday-01,0,5280,4,Hanover Rd opp Hasting Square
4,17-274,10445576-200302-MULTI-Weekday-01,0,5290,5,Hanover Rd s/of Howden Blvd
...,...,...,...,...,...,...
226541,50-274,10453672-200302-MULTI-Saturday-01,1,17822,36,Clairville Dr s/of Huddersfield Rd
226542,50-274,10453672-200302-MULTI-Saturday-01,1,17823,37,61 Clairville Dr
226543,50-274,10453672-200302-MULTI-Saturday-01,1,17824,38,South of 61 Clairville Dr
226544,50-274,10453672-200302-MULTI-Saturday-01,1,17825,39,35 Clairville Dr
226545,50-274,10453672-200302-MULTI-Saturday-01,1,17826,40,25 Clairville Dr

## Create Maps

In [10]:
stop_dict = gt_stops.to_dict(orient='records')
stop_dict[:2]

[{'stop_id': '00000020',
  'stop_name': 'Kennedy Rd S n/of First Gulf Blvd',
  'stop_lat': 43.673256,
  'stop_lon': -79.718468,
  'location_type': 0,
  'parent_station': nan},
 {'stop_id': '00000030',
  'stop_name': 'Kennedy Rd S at Steeles Ave E',
  'stop_lat': 43.675159,
  'stop_lon': -79.72171,
  'location_type': 0,
  'parent_station': nan}]

In [11]:
route_dict = gt_routes.to_dict(orient='records')
route_dict[:2]

[{'route_id': '1-274', 'route_short_name': 1, 'route_long_name': 'Queen'},
 {'route_id': '2-274', 'route_short_name': 2, 'route_long_name': 'Main'}]

In [12]:
stop_times_dict = gt_stop_times.to_dict(orient='records')
stop_times_dict[:2]

[{'trip_id': '10445576-200302-MULTI-Weekday-01',
  'arrival_time': '05:10:00',
  'departure_time': '05:10:00',
  'stop_id': 45565,
  'stop_sequence': 1},
 {'trip_id': '10445576-200302-MULTI-Weekday-01',
  'arrival_time': '05:12:00',
  'departure_time': '05:12:00',
  'stop_id': 5260,
  'stop_sequence': 2}]

In [13]:
trips_dict = gt_trips.to_dict(orient='records')
trips_dict[:2]

[{'route_id': '17-274',
  'service_id': '200302-MULTI-Weekday-01',
  'trip_id': '10445576-200302-MULTI-Weekday-01',
  'trip_headsign': '17 HOWDEN NORTH',
  'direction_id': 0,
  'block_id': 710327,
  'shape_id': 170018},
 {'route_id': '17-274',
  'service_id': '200302-MULTI-Weekday-01',
  'trip_id': '10445577-200302-MULTI-Weekday-01',
  'trip_headsign': '17 HOWDEN NORTH',
  'direction_id': 0,
  'block_id': 710328,
  'shape_id': 170018}]

In [14]:
# trips_t_id = [trips['trip_id'] for trips in trips_dict if trips['route_id'] == '1-274']

# route_id --> gt_trips.trip_id --> gt_stop_times.trip_id --> gt_stop_times.stop_id --> gt_stops.stop_name

# stop_map = [stop['stop_name'] for stop in stop_dict if stop['stop_id'] == '00000020']
# stop_map

In [15]:
#gt_trips.loc[gt_trips['route_id'] == '17-274']

In [16]:
print(gt_stops.columns)
print()
print(gt_routes.columns)
print()
print(gt_stop_times.columns)
print()
print(gt_trips.columns)

Index(['stop_id', 'stop_name', 'stop_lat', 'stop_lon', 'location_type',
       'parent_station'],
      dtype='object')

Index(['route_id', 'route_short_name', 'route_long_name'], dtype='object')

Index(['trip_id', 'arrival_time', 'departure_time', 'stop_id',
       'stop_sequence'],
      dtype='object')

Index(['route_id', 'service_id', 'trip_id', 'trip_headsign', 'direction_id',
       'block_id', 'shape_id'],
      dtype='object')