In [20]:
import warnings
warnings.filterwarnings("ignore")

In [21]:
import matplotlib.pyplot as plt
import mplleaflet
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import requests
import json

## Bus Stops

In [79]:
gt_stops = pd.read_csv('google_transit/stops.txt', sep=",")
gt_stops = gt_stops.drop(['stop_code','stop_url', 'stop_desc', 'zone_id', 'stop_timezone', 'wheelchair_boarding'], axis=1)

# print(len(gt_stops))
# print(len(gt_stops.loc[gt_stops['stop_code'].notnull()]))
# print(len(gt_stops.loc[gt_stops['stop_id'].notnull()]))
# gt_routes['stop_id'].unique()
gt_stops

,stop_id,stop_name,stop_lat,stop_lon,location_type,parent_station
0,00000020,Kennedy Rd S n/of First Gulf Blvd,43.673256,-79.718468,0,NaN
1,00000030,Kennedy Rd S at Steeles Ave E,43.675159,-79.721710,0,NaN
2,00000055,Rutherford Rd S n/of Steeles Ave E,43.681385,-79.718147,0,NaN
3,00000060,Rutherford Rd S/of Bramsteele Rd,43.681969,-79.718979,0,NaN
4,00000070,Rutherford Rd S n/of Bramsteele Rd,43.683807,-79.721458,0,NaN
...,...,...,...,...,...,...
2961,place_MPVL,Mount Pleasant Village,43.675423,-79.822311,1,NaN
2962,place_SHER,Sheridan College,43.656124,-79.741013,1,NaN
2963,place_SPTE,Trinity Common Terminal,43.731091,-79.763603,1,NaN
2964,place_SWLP,Sandalwood Loop,43.720985,-79.808502,1,NaN
2965,place_YORKU,York University,43.776279,-79.500519,1,NaN

In [ ]:
# gt_routes.loc[gt_routes['route_type'] == 3]
# gt_routes['route_long_name'].unique()

## Bus Routes

In [34]:
gt_routes = pd.read_csv('google_transit/routes.txt', sep=",")
gt_routes = gt_routes.drop(['route_url', 'route_type', 'route_desc'], axis=1) 
gt_routes

   route_id  route_short_name route_long_name
0     1-274                 1           Queen
1     2-274                 2            Main
2     3-274                 3      McLaughlin
3     4-274                 4    Chinguacousy
4     5-274                 5         Bovaird
..      ...               ...             ...
68  501-274               501       Zum Queen
69  502-274               502        Zum Main
70  505-274               505     Zum Bovaird
71  511-274               511     Zum Steeles
72  561-274               561  Zum Queen West

[73 rows x 3 columns]

## Calendar & Stop Times & Trips

In [96]:
gt_calendar = pd.read_csv('google_transit/calendar.txt', sep=",")
gt_calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,200302-MULTI-Weekday-01,1,1,1,1,1,0,0,20200302,20200424
1,200302-MULTI-Weekday-01-0001000,0,0,0,1,0,0,0,20200302,20200424
2,200302-MULTI-Weekday-01-0010000,0,0,1,0,0,0,0,20200302,20200424
3,200302-MULTI-Weekday-01-1000000,1,0,0,0,0,0,0,20200302,20200424
4,200302-MULTI-Saturday-01,0,0,0,0,0,1,0,20200307,20200425
5,200302-MULTI-Sunday-01,0,0,0,0,0,0,1,20200308,20200426
6,200302-MULTI-Holiday1-01,1,1,1,1,1,1,1,20200410,20200410

In [103]:
gt_stop_times = pd.read_csv('google_transit/stop_times.txt', sep=",")
gt_stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,timepoint
0,10445576-200302-MULTI-Weekday-01,05:10:00,05:10:00,45565,1,0,0,1
1,10445576-200302-MULTI-Weekday-01,05:12:00,05:12:00,5260,2,0,0,0
2,10445576-200302-MULTI-Weekday-01,05:13:00,05:13:00,5270,3,0,0,0
3,10445576-200302-MULTI-Weekday-01,05:14:00,05:14:00,5280,4,0,0,0
4,10445576-200302-MULTI-Weekday-01,05:14:00,05:14:00,5290,5,0,0,0
...,...,...,...,...,...,...,...,...
486660,10528257-200302-MULTI-Holiday1-01,16:01:00,16:01:00,51112,18,0,0,1
486661,10528257-200302-MULTI-Holiday1-01,16:03:00,16:03:00,51114,19,0,0,1
486662,10528257-200302-MULTI-Holiday1-01,16:05:00,16:05:00,51116,20,0,0,1
486663,10528257-200302-MULTI-Holiday1-01,16:08:00,16:08:00,18030502,21,0,0,0
486664,10528257-200302-MULTI-Holiday1-01,16:14:00,16:14:00,15090802,22,0,0,1

In [99]:
gt_trips = pd.read_csv('google_transit/trips.txt', sep=",")
gt_trips

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,17-274,200302-MULTI-Weekday-01,10445576-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710327,170018,1,1
1,17-274,200302-MULTI-Weekday-01,10445577-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710328,170018,1,1
2,17-274,200302-MULTI-Weekday-01,10445578-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710327,170018,1,1
3,17-274,200302-MULTI-Weekday-01,10445579-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710328,170018,1,1
4,17-274,200302-MULTI-Weekday-01,10445580-200302-MULTI-Weekday-01,17 HOWDEN NORTH,0,710327,170018,1,1
...,...,...,...,...,...,...,...,...,...
12723,11-274,200302-MULTI-Holiday1-01,10528241-200302-MULTI-Holiday1-01,11 STEELES WESTBOUND,1,712237,110073,1,1
12724,511-274,200302-MULTI-Holiday1-01,10528254-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712242,5110017,1,1
12725,511-274,200302-MULTI-Holiday1-01,10528255-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712239,5110017,1,1
12726,511-274,200302-MULTI-Holiday1-01,10528256-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712240,5110017,1,1
12727,511-274,200302-MULTI-Holiday1-01,10528257-200302-MULTI-Holiday1-01,511 ZUM STEELES EASTBOUND,0,712241,5110017,1,1